header {
    background: url('../img/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
}
/* 
.v-responsive__content,
.v-carousel,
.v-carousel__item {
    height: 100vh !important;
} */
